<h1> Dish's Show Page </h1>

<p>Name: <%= @dish.name %></p>
<p>Description: <%= @dish.description %></p>
<p>Total Calories: <%= @calorie_count %></p>

<h2>Ingredients</h2>
<% @dish.ingredients.each do |ingredient| %>
  <p><%= ingredient.name %></p>
<% end %>

<h2>Chef</h2>
<%= @dish.chef.name %>